@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  /* text-decoration: underline solid #6AA0C3; */
  text-decoration: none;
  border-bottom: 3px solid #6AA0C3;
  /* text-decoration-color: #6AA0C3; */
  color: inherit;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a:hover {
  background-color: #6AA0C3;
  color: #EBE5E2;
}